@media(max-width:1200px){
    .header img{
        width: 100%;
    }
}

@media(max-width:992px){
    
    .main{
        flex-direction: column;
        align-items: center;
    }

    .footer{
        flex-direction: column;
        align-items: center;

    }

    .div__right_side{
        flex-direction: column;
    }

    .right__side{
        align-items: center;
    }

    .right__side a{
        font-size: 18px;
    }
}


@media(max-width:768px){

    .left__block{
        text-align: center;
    }
    .right__block{
        text-align: center;
    }

    .left__block_text{
        font-size: 14px;
    }

    .left__block_title{
        font-size: 16px;
    }
    .right__block_text{
        font-size: 14px;
    }

    .right__block_title{
        font-size: 16px;
    }

    .contacts a{
        font-size: 14px;
    }

    .nav__list_link a {
        font-size: 12px;
    }

    .footer{
        gap: 40px;
    }
}
@media(max-width:576px){

    .nav img{
        width: 80px;
        height: 90px;
    }
    
    .nav__list{
        flex-direction: column;
        text-align: center;
        margin-top: 0;
    }

    .right__block{
        height: 380px;
    }
    .left__block{
        height: 650px;
        text-align: center;
    }

    .left__block_text{
        font-size: 12px;
    }
    .right__block_text{
        font-size: 12px;
        text-align: center;
    }

    .contacts a{
        font-size: 12px;
    }

    .right__block{
        align-items: center;
    }

    .footer{
        gap: 40px;
    }
    .footer img{
        height: 90px;
    }
}


@media(max-width:375px){

    .contacts{
        gap: 20px;

    }

    .left__block{
        height: 800px;
    }
    .right__block{
        height: 320px;
    }

    .right__side{
        text-align: center;
        font-size: 1px;

    }
    .right__side_text{
        font-size: 15px;
    }

    .right__side a{
        font-size: 15px;
    }
}